
<body>
    <div class="heading">
<h3>Welcome to AppFirst</h3>
<hr color="yellow"size="60px"width="290px;">
</div>
<div class="founder">
<h3>Founder Of AppFirst:</h3>
<p>Mahendar Reddy Avuluri is the founder of AppFirst .
By using this AppFirst we can deliver chefs to your homes for cooking food in your home
When our chefs came to your home He/she  Opened Webcam and is total network based with 
network and it will recorded cooking proceducer and another cam will recored your sourndings.
Through network it will automatically saved in your blog for Safty and privacy.

</p>
</div>
<div class="about AppFirst">
    <h3>What is AppFirst</h3>
    <p>AppFirst is the First Chef Delivery App and Website 
        in the  telugu states .we have the best and 5 star rated
        chefs for your home food making,Events Food making ,Home fast food making and Event fast 
        food making.With your ingridents.

    </p>
    </div>
<div class="why">

    <h2>Why AppFirst</h2>
    <p>It is the food making chef delivery app and web site .here you can book chef for food making in your
         home and booked place.and we can take care about covid this time
        </p>
</div>
<div class="chef">
    <h2>What kind of chefs are avalible</h2>
    <p>we have good communicated and 5 star rated chefs<br>
        majorly we have 3 kind of chefs <br>
        1)Home food Cooking chefs<br>
        2)Events food Cooking Chefs <br>
        3)Bouth Home & Event Food Cooking  chefs<br>

        

        
    
    </p>
    <h2>Home Food Cooking Chefs</h2>
    <p>We have <b>Veg</b>and <b>Non-Veg</b> Chefs Comes to your Home for Cooks in your Home with Your Ingridiance </p><br>
    <h2>Event Food Cooking Chefs</h2>
    <p>We have <b>Veg</b>and <b>Non-Veg</b> Chefs Chefs Comes to your Home for Cooks in your Home with Your Ingridiance</p><br>
    <h2>Fast Food Home Cooking Chefs</h2>
    <p>We have <b>Veg</b>and <b>Non-Veg</b> Chefs Chefs Comes to your Home for Cooks in your Home with Your Ingridiance</p><br>
</div>


</body>