

<h4>If youre Facing Any Issues or any Problems Please contact Us We Will Resolve Your problems With in the Short time</h4>
<p>Enter Your Email Id We Will contact You Through Email:</p>
<div class="col-sm-3"></div>
<div class="col-sm-6">

    <form #ref="ngForm" (ngSubmit)="submit(ref)">
        <div class="form-group">
        <input type="text"value="Email"name="Email"class="form-control"ngModel #ref1="ngModel"placeholder="Enter Your Email Id"><br>
        </div>
        <button type="submit">Submit</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        </form>
</div>
<div class="col-sm-3"></div>
