<div class="back">
<h3>Welcome to AppFirst</h3>
<p>We are providing best chefs and Five star rated chefs for your All Events. And also 
    providing Home food making chefs.People having somany doubts on out side food thats why we 
are providing chefs to your home and cooks in your home with your ingredients.</p>
<div class="row">
    
<div class="col-sm-3 card" id="card"style="margin-left:40px;">
    <img class="card-img-top"src="assets/images/chef-logo.png" alt="card img cap">
        <div class="card-body">
            
            <h3>Events Chef Booking</h3>
            <h4>veg & Non-veg</h4>
            
            <a routerLink="/login"class="btn btn-primary">BOOK NOW</a>
            
        </div>
    </div>
    
    
    <div class="col-sm-3 card"style="margin-left:50px;">
    <img class="card-img-top"src="assets/images/chef-logo.png" alt="card img cap">
        <div class="card-body">
            
            <h3>Home Chef Booking</h3>
            <h4>veg & Non-veg</h4>
            
            <a routerLink="/login"class="btn btn-primary">BOOK NOW</a>
            
        </div>
    </div>
    <div class="col-sm-3 card"style="margin-left:50px;">
        <img class="card-img-top"src="assets/images/chef-logo.png" alt="card img cap">
            <div class="card-body">
                
                <h3>Home FastFood Chef Booking</h3>
                <h4>veg & Non-veg</h4>
                
                <a routerLink="/login"class="btn btn-primary">BOOK NOW</a>
                
            </div>
        </div>
   </div>
</div>

    

